body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    padding: 20px;
    margin: 15px;
    background: white;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
